.header img {
    width: 40px;
    margin: 10px 0 0 15px;
}
.header {
    grid-area: h;
    background-color: #FF0000;
    border: 2px solid #000000;
    border-radius: 3px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}